{% extends 'website/layout.html' %}
{% load static %}
{% block 'main' %}

  <!-- ==================== Page-Title (Start) ==================== -->
  <div class="page-title">

    <div class="title">
      <h2>Services</h2> 
    </div> 

    <div class="link">
      <a href="../../index.html">Home</a>
      <i class="fa-solid fa-angles-right"></i>
      <span class="page">Services</span>
    </div>

  </div>
  <!-- ==================== Page-Title (End) ==================== -->


 
  <!-- ==================== Services Area (Start) ==================== -->
  <section class="blog-single">

    <!-- ========== Blog-Info Container (Start) ========== -->
    <div class="blog-container">

      <!-- Blog Information -->
      <div class="blog-info page-info">
        
        <div class="content">
        

          <div class="heading">
            <!-- <div class="sub"><i class="fa-solid fa-building-columns"></i><h2>Explore Our Collections</h2><i class="fa-solid fa-building-columns"></i></div> -->
            <h2>About Us</h2>
          </div>         
          <!-- Blog Details -->

        
          <!-- Blog Description -->
          <p>
  
            Braintree Educational Resources offers comprehensive educational services for private schools, training providers, and other independent educational based organizations and centres in Nigeria and abroad. We also provide education consultancy services to students desiring to study abroad through our partnerships with institutions 33 countries.  
            <p>
            We have established expertise in academic and administrative management, educational-based training, inclusion and inclusive practices as well as strategic management and planning of private education and training providers. 
            
            
            <p>
            Founded 2007 in Jos, Nigeria and managed by a team of experienced professionals with many combined years of experience within education, training, consulting and management Braintree provides training in different areas of education and also works with school owners in terms of school management and growth. 
            
            
            With a network of education providers in over thirty-three countries, our team provides counselling to students on courses and career opportunities according to their educational background, interests, aptitude, and aspirations.
            </p>
        

        
        

          <!-- End Details -->
          <div class="end-details">
        
        
          </div>
        
        </div>
        
      </div>                                  


    
    </div>
    <!-- ========== Blog-Info Container (End) ========== --> 



  </section>
  <section class="services">

    <!-- Section Heading --> 
    <div class="heading">
      <h2>Our Services</h2>
    </div>
   
    <!-- Services Container -->
    <div class="box-container">
  
      <!-- Service 1: Guided Tours -->
      <div class="service-item">
        <img src="{% static 'website/images/Service/Services/Service.jpg' %}" alt="Guided Tours"> <!-- Service Image -->
        <div class="content">
          <i class="fa-solid fa-compass"></i> <!-- Guided Tours Icon -->
          <a href="{% url 'school_management_portal_page' %}"><h3>School Management</h3></a> <!-- Service Title -->
          <span></span>
          <p>
            We work with school owners to provide seamless management solutions that enhance efficiency, communication, and drive school growth.          </p>
          <a href="{% url 'school_management_portal_page' %}" class="btn">Read More</a>
        </div>
      </div>
  
      <!-- Service 2: Educational Workshops -->
      <div class="service-item">
        <img src="{% static 'website/images/Service/Services/Service.jpg' %}" alt="Educational Workshops"> <!-- Service Image -->
        <div class="content">
          <i class="fa-solid fa-chalkboard-teacher"></i> <!-- Educational Workshops Icon -->
          <a href="{% url 'training_and_workshop_page' %}"><h3>Trainings & Workshops</h3></a> <!-- Service Title -->
          <span></span>
          <p>
            <!-- We design trainings and workshops  to elevate skills, spark growth, and deliver impactful, real-world results. -->
            We create tailored trainings and workshops to enhance skills, ignite growth, and achieve impactful, real-world results.
          </p>

          <a href="{% url 'training_and_workshop_page' %}" class="btn">Read More</a>
        </div>
      </div>
  
      <!-- Service 3: Special Events -->
      <div class="service-item">
        <img src="{% static 'website/images/Service/Services/Service.jpg' %}" alt="Special Events"> <!-- Service Image -->
        <div class="content">
          <i class="fas fa-calendar-alt"></i> <!-- Special Events Icon -->
          <a href="{% url 'process_automation_page' %}"><h3>Process Automation</h3></a> <!-- Service Title -->
          <span></span>
<p>
  We streamline processes to optimize efficiency, 
  ensuring smooth workflows and empowering 
  teams to work more effectively and effortlessly.
</p>          <a href="{% url 'process_automation_page' %}" class="btn">Read More</a>
        </div>
      </div>
  
      <!-- Service 4: Virtual Tours -->
      <div class="service-item">
        <img src="{% static 'website/images/Service/Services/Service.jpg' %}" alt="Virtual Tours"> <!-- Service Image -->
        <div class="content">
          <i class="fas fa-vr-cardboard"></i> <!-- Virtual Tours Icon -->
          <a href="{% url 'excursion_page' %}"><h3>Excursions & Exhibitions</h3></a> <!-- Service Title -->
          <span></span>

          <p>
            We organize exhibitions, educational tours, and excursions that inspire learning and enhance students' practical, hands-on experiences.
          </p> <!-- Service Description -->
          <a href="{% url 'excursion_page' %}" class="btn">Read More</a>
        </div>
      </div>
  
      <!-- Service 5: Membership Benefits -->
      <div class="service-item">
        <img src="{% static 'website/images/Service/Services/Service.jpg' %}" alt="Membership Benefits"> <!-- Service Image -->
        <div class="content">
          <i class="fa-solid fa-certificate"></i> <!-- Membership Benefits Icon -->
          <a href="{% url 'study_abroad_page' %}"><h3>Overseas Admission</h3></a> <!-- Service Title -->
          <span></span>
          <p>
            We provide student counseling and admissions to 954 institutions across 33 countries, plus full visa processing services.
          </p>

          <a href="{% url 'study_abroad_page' %}" class="btn">Read More</a>
        </div>
      </div>
  
      <!-- Service 6: Educational Resources -->
      <div class="service-item">
        <img src="{% static 'website/images/Service/Services/Service.jpg' %}" alt="Educational Resources"> <!-- Service Image -->
        <div class="content">
          <i class="fa-solid fa-book"></i> <!-- Educational Resources Icon -->
          <a href="catalog_page"><h3>Educational Resources</h3></a> <!-- Service Title -->
          <span></span>
          <p>
            We are a one-stop shop for learning resources, offering everything from school attire to classroom furniture and educationall software.
          </p>

          <a href="{% url 'catalog_page' %}" class="btn">Read More</a>
        </div>
      </div>
  
    </div>
  
  </section>    
  <!-- ==================== Services Area (End) ==================== -->



{% endblock %}