{% extends 'website/layout.html' %}
{% load static %}
{% block 'main' %}
<!-- Start home -->
<section class="bg-half page-next-level">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h4 class="text-uppercase title mb-4">About Us</h4>
                    <ul class="page-next d-inline-block mb-0">
                        <li><a class='text-uppercase font-weight-bold' href="{% url 'homepage' %}">Home</a></li>
                        <li><a class="text-uppercase font-weight-bold" href="#">Pages</a></li>
                        <li>
                            <span class="text-uppercase text-white font-weight-bold">About</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- ABOUT US START -->
<section class="section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5 col-md-4">
                <img alt="" class="img-fluid rounded shadow" src="{% static 'website/images/home2.jpeg' %}">
            </div>

            <div class="col-lg-7 col-md-8">
                <div class="about-desc ml-lg-4">
                    <h4 class="text-dark">About us</h4>

                    <p class="text-muted">
                        Braintree Educational Resources offers comprehensive educational services for private
                        further/higher education colleges, training providers, and other independent educational
                        based organizations and centres in Nigeria and abroad. Braintree Educational Resources also
                        provides education consultancy services to students who desiring to study abroad through our
                        partnerships with institutions in kenya, the UK, Canada, Sweden, Germany, Hungary, Denmark,
                        Cyprus, Australia and New Zealand. We have established expertise in academic and administrative
                        management, educational-based training, inclusion and inclusive practices as well as strategic
                        management and planning of private education and training providers.
                    </p>
                    <p class="text-muted">
                        The founder of BER, Yusuf Mohammed, a former lecturer with over 30 years experience in the
                        academia in such roles as as Lecturer, Course Coordinator, Exam committee scertary, seminar
                        and workshop committee secretary, accreditation committee member backed with courses in
                        education management, strategic management & leadership, improvement planning, student
                        recruitment and selection and quality management has brpught these years of experienve into
                        evolving ber as a consultancy support to private further/higher education colleges, training
                        providers, and other independent educational based organizations and centres in the UK and
                        abroad for their growth and success as an institution.
                    </p>
                    <p class="text-muted">Braintree Educational Resources consists of a dedicated team
                        of experienced professionals with many combined years of experience within
                        education, training, consulting and management. Our History Braintree Educational Resources was
                        established in 2007 in Jos, Nigeria. Our experienced education counsellors are ready to advise
                        students on courses and career opportunities according to their educational background,
                        interests, aptitude, and aspirations. Have a broad network with education providers, we are able
                        to suggest a wide range of study options and programs to meet the students' needs. Our firm is
                        proficient in advising potential Students or Migrants regarding any Australian Visa Matters from
                        Student Visas to Skilled Visas, Business Visas, and Family Visas etc. Please do fill in Our
                        Enquiry Form available in this website, if you are interested in finding out more information
                        regarding Australian Visas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US END -->

<!-- popular category start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Offered Services</h4>
                    <p class="text-muted para-desc mx-auto mb-1">
                        Here is a comprehensive list of the offered services. Click on any for more Details
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-account d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">School Portal</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-desktop-classic d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Study Abroad</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-bank d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">School Finder</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-auto-fix d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Resource Finder</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-office-building d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Exam Finder</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-telegram d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Job Finder</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-television-classic d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Trainings/workshops</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-human d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Find Answers</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

{% endblock %}