{% extends 'website/layout.html' %}
{% load static %}
{% block 'main' %}


<!-- ==================== Page-Title (Start) ==================== -->
<div class="page-title">

    <div class="title">
        <h2>Shop List</h2>
    </div>

    <div class="link">
        <a href="{% url 'homepage' %}">Home</a>
        <i class="fa-solid fa-angles-right"></i>
        <span class="page">Shop List</span>
    </div>

</div>
<!-- ==================== Page-Title (End) ==================== -->


<!-- ==================== Shop-List Area (Start) ==================== -->
<section class="shop">

    <!-- ========== Shop Sidebar Area (Start) ========== -->
    <div class="sidebar">

        <!-- ===== Category Area (Start) ===== -->
        <div class="category sidebar-item">

            <!-- Sidebar Heading: Categories -->
            <div class="sidebar-heading">
                <!-- <h2>categories</h2> -->
            </div>

            <!-- Shop Categories -->
            <div class="box-container">
                <!-- <a href="#" class="item"> <span><i class="fa-solid fa-building-columns"></i>All Products</span> <p>(30)</p> </a>
                <a href="#" class="item"> <span><i class="fa-solid fa-building-columns"></i>Art Prints</span> <p>(08)</p> </a>
                <a href="#" class="item"> <span><i class="fa-solid fa-building-columns"></i>Jewelry Boutique</span> <p>(06)</p> </a>
                <a href="#" class="item"> <span><i class="fa-solid fa-building-columns"></i>Books & Journals:</span> <p>(04)</p> </a>
                <a href="#" class="item"> <span><i class="fa-solid fa-building-columns"></i>Home Decor</span> <p>(06)</p> </a>
                <a href="#" class="item"> <span><i class="fa-solid fa-building-columns"></i>Fashion Accessories:</span> <p>(06)</p> </a> -->
            </div>

        </div>
        <!-- ===== Category Area (End) ===== -->


        <!-- ===== Popular Products Area (Start) ===== -->
        <div class="popular-products sidebar-item">

            <!-- Sidebar Heading: Popular Products -->
            <div class="sidebar-heading">
                <h2>popular products</h2>
            </div>

            <!-- Popular Products -->
            <div class="box-container">
                <div id="Popular-Products">

                </div>


            </div>

        </div>
        <!-- ===== Popular Products Area (End) ===== -->

    </div>
    <!-- ========== Shop Sidebar Area (End) ========== -->

    <!-- ========== Shop Container (Start) ========== -->
    <div class="shop-container">

        <!-- ===== Shop Header (Start) ===== -->
        <div class="intro">

            <!-- Showing Products Count -->
            <!-- <div class="showing">showing 4 of 30 products  </div> -->

            <!-- Display Styles -->
            <div class="styles">
                <!-- <a href="Shop-Grid.html" class="fas fa-th"></a> -->
                <!-- <a href="Shop-List.html" class="fas fa-list"></a>                -->
            </div>

            <div class="btn" style="width: 100%;">
                <a href="{% url 'school_finder_page' %}">Go to school search</a>
            </div>

            <!-- Sorting Type -->
            <div class="sorting-type">

                <!-- Sorting Label -->
                <!-- <label for="sort">sort by:</label> -->

                <!-- Sorting Options -->
                <!-- <select name="sort" id="sort">
                  <option value="default">default</option>
                  <option value="name, A to Z">name, A to Z</option>
                  <option value="mname, Z to A">name, Z to A</option>
                  <option value="price, low to high">price, low to high</option>
                  <option value="price, high to low">price, high to low</option>
                </select> -->

            </div>

        </div>
        <!-- ===== Shop Header (End) ===== -->

        <!-- ===== Products (Start) ===== -->
        <div class="product-container list">

            <!-- Product-1 -->

            <div id="dump-here">

            </div>


        </div>
        <!-- ===== Products (End) ===== -->


    </div>
    <!-- ========== Shop Container (End) ========== -->

</section>
<!-- ==================== Shop-List Area (End) ==================== -->

{% endblock %}

{% block 'script' %}
    <script src="{% static 'website/js/Product-Loader.js' %}"></script> <!-- filters for the name search directory. -->
{% endblock %}