<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{site_info.name|title}} - </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="HKStudio" name="author">

    <link href="{% static 'website/images/favicon.ico' %}" rel="shortcut icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!--Material Icon -->
    <link href="{% static 'website/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'website/css/fontawesome.css' %}" rel="stylesheet" type="text/css">

    <!-- selectize css -->
    <link href="{% static 'website/css/selectize.css' %}" rel="stylesheet" type="text/css">

    <!--Slider-->
    <link href="{% static 'website/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/owl.transitions.css' %}" rel="stylesheet">

    <!-- Custom  Css -->
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navigation Bar-->
<header class="defaultscroll scroll-active" id="topnav">
    <!-- Tagline STart -->
    <div class="tagline">
        <div class="container">
            <div class="float-left">
                <div class="email">
                    <a href="tel:{{ site_info.mobile_1 }}">
                        <i class="mdi mdi-phone-classic"></i> {{ site_info.mobile_1 }}
                    </a>
                </div>
                <div class="email">
                    <a href="mailto:{{ site_info.email|lower }}">
                        <i class="mdi mdi-email"></i> {{ site_info.email.lower }}
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Tagline End -->

    <!-- Menu Start -->
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class='logo' href="{% url 'homepage' %}">
                <img alt="" class="logo-light" height="40" src="{{site_info.logo.url}}">
                <img alt="" class="logo-dark" height="40" src="{{site_info.logo.url}}">
            </a>
        </div>
        <div class="buy-button">
            <a class='btn btn-primary' href="{% url 'school_management_portal_page' %}">School Portal</a>
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'about_page' %}">About Us</a></li>
                <li class="has-submenu">
                    <a href="javascript:void(0)">School Finder</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="{% url 'school_finder_page' %}">Find School</a></li>
                        <li><a href="{% url 'school_finder_add' %}">Register School</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">Blog/Forum</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="{% url 'forum_index_page' %}">Forum</a></li>
                        <li><a href="{% url 'blog_page' %}">Blog</a></li>
                        <li><a href="{% url 'forum_ask_question' %}">Ask a Question</a></li>
                        <li><a href="{% url 'forum_question_index' %}">Answer a Question</a></li>
                    </ul>
                </li>


                <li>
                    <a href="{% url 'contact_page' %}">contact</a>
                </li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
    <!--end end-->
</header><!--end header-->
<!-- Navbar End -->

{% block 'main' %}{% endblock %}

<!-- subscribe start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="float-left position-relative notification-icon mr-2">
                    <i class="mdi mdi-bell-outline text-primary"></i>
                    <span class="badge badge-pill badge-danger">1</span>
                </div>
                <h5 class="mt-2 mb-0">Subscribe for Notification</h5>
            </div>
            <div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
                <form>
                    <div class="form-group mb-0">
                        <div class="input-group mb-0">
                            <input aria-describedby="newssubscribebtn" class="form-control" id="email" name="email" placeholder="Your email :"
                                   required="" type="email">
                            <div class="input-group-append">
                                <button class="btn btn-primary submitBnt" id="newssubscribebtn" type="submit">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- subscribe end -->

<!-- footer start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="javascript:void(0)"><img alt="" height="20" src="images/logo-light.png"></a>
                <p class="mt-4">{{ site_info.name|title }} is your number one choice for all the educational related news and updates</p>
                <ul class="social-icon social list-inline mb-0">
                    {% if site_info.facebook_handle %}<li class="list-inline-item"><a class="rounded" target="_blank" href="{{site_info.facebook_handle}}"><i class="mdi mdi-facebook"></i></a></li>{% endif %}
                    {% if site_info.twitter_handle %}<li class="list-inline-item"><a class="rounded"  target="_blank" href="{{site_info.twitter_handle}}"><i class="mdi mdi-twitter"></i></a></li>{% endif %}
                    {% if site_info.instagram_handle %}<li class="list-inline-item"><a class="rounded" target="_blank" href="{{site_info.instagram_handle}}"><i class="mdi mdi-instagram"></i></a></li>{% endif %}
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title">Quick Links</p>
                <ul class="list-unstyled footer-list">
                    <li><a class="text-foot" href="{% url 'homepage' %}"><i class="mdi mdi-chevron-right"></i> Home</a></li>
                    <li><a class="text-foot" href="{% url 'about_page' %}"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                    <li><a class="text-foot" href="{% url 'contact_page' %}"><i class="mdi mdi-chevron-right"></i> Contact us</a></li>

                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title">Resources</p>
                <ul class="list-unstyled footer-list">
                    <li><a class="text-foot" href="{% url 'school_finder_page' %}"><i class="mdi mdi-chevron-right"></i> School Finder</a></li>
                    <li><a class="text-foot" href="{% url 'forum_index_page' %}"><i class="mdi mdi-chevron-right"></i> Forum</a></li>
                    <li><a class="text-foot" href="{% url 'blog_page' %}"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title f-17">Contact Info</p>
                <ul class="list-unstyled text-foot mt-4 mb-0">
                    <li>{{ site_info.mobile_1 }}</li>
                    <li class="mt-2">{{ site_info.email|lower }}</li>
                    <li class="mt-2">{{ site_info.address }}</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<hr>
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="">
                    <p class="mb-0">© {% now 'Y' %} {{ site_info.name|title }}
                    </p>
                </div>
            </div>
        </div>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a class="back-to-top rounded text-center" href="#" id="back-to-top">
    <i class="mdi mdi-chevron-up d-block"> </i>
</a>
<!-- Back to top -->

<!-- javascript -->
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'website/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'website/js/plugins.js' %}"></script>

<!-- selectize js -->
<script src="{% static 'website/js/selectize.min.js' %}"></script>
<script src="{% static 'website/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'website/js/counter.int.js' %}"></script>

<script src="{% static 'website/js/app.js' %}"></script>
<script src="{% static 'website/js/home.js' %}"></script>

</body>
</html>