{% extends 'website/layout.html' %}
{% load static %}
{% block 'main' %}

<!-- ==================== Page-Title (Start) ==================== -->
<div class="page-title">

    <div class="title">
        <h2>School Management</h2>
    </div>

    <div class="link">
        <a href="{% url 'homepage' %}">Home</a>
        <i class="fa-solid fa-angles-right"></i>
        <span class="page">School Management Software</span>
    </div>

</div>
<!-- ==================== Page-Title (End) ==================== -->


<!-- ==================== Service Single (Start) ==================== -->
<section class="service-single page-single">

    <!-- ========== Service Sidebar Area (Start) ========== -->
    <div class="sidebar">

        <div class="category sidebar-item">

            <!-- Sidebar Heading -->
            <div class="sidebar-heading">
                <h2>our services</h2>
            </div>

            <!-- Services List -->
            <div class="box-container">
                <a href="{% url 'training_and_workshop_page' %}"><span><i class="fa-solid fa-chalkboard-teacher"></i>Trainings & Workshops</span></a>
                <a href="{% url 'process_automation_page' %}"><span><i
                        class="fas fa-calendar-alt"></i>Process Automation</span></a>
                <a href="{% url 'excursion_page' %}"><span><i
                        class="fas fa-vr-cardboard"></i>Exhibitions & Excursions</span></a>
                <a href="{% url 'study_abroad_page' %}"><span><i
                        class="fa-solid fa-certificate"></i>Overseas Admission</span></a>
                <a href="{% url 'catalog_page' %}"><span><i class="fa-solid fa-book"></i>Educational Resources</span></a>
            </div>

        </div>

    </div>
    <!-- ========== Service Sidebar Area (End) ========== -->

    <!-- ========== Service Info Container (Start) ========== -->
    <div class="service-info page-info">

        <!-- Service Image -->

        <div class="content">

            <!-- Service Main Heading -->
            <h1 class="main-heading">School Management</h1>

            <!-- Service Description -->

            <p>
                We are dedicated to supporting educational institutions in their pursuit of excellence by offering
                innovative solutions, expert guidance, and operational support to help schools thrive. Our work with
                schools has consistently resulted in improved student outcomes, enhanced teaching quality, and
                streamlined operations through a range of comprehensive services, including administrative support,
                financial management, and HR services.

                We implement innovative technologies designed to enhance teaching, learning, and overall school
                operations.
            <p>Our solutions are personalized to meet each school's unique needs, helping them streamline operations,
                improve learning experiences, and foster stronger connections among students, teachers, and parents.

                A key aspect of our work is simplifying data management and administrative tasks, which allows school
                leaders to
                focus their time and energy on areas that promote further development.
            <p> Our experienced team of educators, developers, and support specialists works together to create
                solutions that are both effective and
                intuitive, ensuring that schools can operate more efficiently and productively.
            </p>

            <!-- Service Gallery -->
            <div class="page-gallery">
                <img alt="Guided Tours" src="{% static 'website/images/Service/Services/Service-3a.jpg' %}">

                <img alt="Guided Tours" src="{% static 'website/images/Service/Services/Service-3.jpg' %}">


            </div>


        </div>

    </div>

    <!-- ========== Service Info Container (End) ========== -->

</section>
<!-- ==================== Service Single (End) ==================== -->


{% endblock %}
