<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Title -->
    <title> Braintree Educational Resources</title>

    <!-- Favicon -->
    <link href="{% static 'website/images/favicon.png' %}" rel="icon" type="image/x-icon">

    <!-- Font-Awesome (CSS) -->
    <link href="{% static 'website/vendors/font-awesome/css/all.min.css' %}" rel="stylesheet">

    <!-- Magnific-Popup (CSS) -->
    <link href="{% static 'website/vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Swiper (CSS) -->
    <link href="{% static 'website/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Custom Stylesheets -->
    <link href="{% static 'website/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">

</head>
<body>

<!-- ==================== Scroll-Top Area (Start) ==================== -->
<a class="scroll-top" href="#">
    <i class="fa-solid fa-arrow-up-long"></i>
</a>
<!-- ==================== Scroll-Top Area (End) ==================== -->


<!-- ==================== Header Area (Start) ==================== -->
<header class="header">

    <!-- ===== Header-1 Area (Start) ===== -->
    <div class="header-1">

        <!-- == Contacts == -->
        <ul class="header-contacts">
<!--            <li><i class="fa-solid fa-location-dot"></i><span>Braintree Educational Resources</span></li>-->
            <li><i class="fa-solid fa-phone"></i><span>+234-812-1002-555</span></li>
            <li><i class="fa-solid fa-envelope"></i><span class="gmail">contact@braintree.com</span></li>
        </ul>

        <!-- == Social == -->
        <ul class="social-contacts" >
            <li><a class="fab fa-facebook-f" href="#"></a></li>
        </ul>

    </div>
    <!-- ===== Header-1 Area (End) ===== -->


</header>
<!-- ==================== Header Area (End) ==================== -->


<!-- ==================== MAIN ==================== -->
<!-- ==================== Blog List (Start) ==================== -->
  <section class="blog list" style="margin-top: 55px; margin-bottom: 55px;">

    <!-- ========== Blog Sidebar Area (Start) ========== -->
    <div class="sidebar">

      <!-- ===== Recent Posts Area (Start) ===== -->
      <div class="recent-posts sidebar-item">

        <div class="sidebar-heading">
          <h2>Our Portfolio</h2>
        </div>

        <!-- Recent Posts -->
        <div class="box-container">



          <!-- Recent Post 1 -->
          <div class="">
            <p class="main-heading">30+ Countries <br>

              900+ Institutions<br>

              70,000+ Recognized Courses

              <!-- education loan Assistance<br> -->

              <!-- accommodation assistance -->
            </p> <!-- Post title -->
          </div>


        </div>

      </div>
      <!-- ===== Recent Posts Area (End) ===== -->

      <!-- ===== Admission Process Area (End) ===== -->

  <!-- ===== Popular Products Area (Start) ===== -->
  <div class="popular-products sidebar-item">

    <!-- Sidebar Heading: Popular Products -->
    <div class="sidebar-heading">
      <h2>Process Workflow</h2>
    </div>

    <!-- Popular Products -->
    <div class="box-container">

      <!-- Popular Product 1 -->
      <div class="">
        <div>
          <p class="">Stage 1: Student counselling</p>
          <p class="">Stage 2: Registration with unique identification number</p>
          <p class="">Stage 3: Profile evaluation</p>
          <p class="">Stage 4: Proposing university options</p>
          <p class="">Stage 5: Confirmation by student</p>
          <p class="">Stage 6: Document Verification(academic document, SOP, LOR, resume, etc)</p>
          <p class="">Stage 7: Initiating application process</p>
          <p class="">Stage 8: Issuance of offer letter</p>
          <p class="">Stage 9: Issuance of acceptance /I20/CAS</p>
          <p class="">Stage 10: Visa counselling and mock interview</p>
          <p class="">Stage 11: Predeparture briefing and post landing ancilliary services</p>

        </div>
      </div>


    </div>

  </div>
  <!-- ===== Popular Products Area (End) ===== -->
      <!-- ===== Admission Process Area (Start) ===== -->
      <!-- <div class="recent-posts sidebar-item"> -->

        <!-- <div class="sidebar-heading"> -->
          <div class="button-container">
              <button class="uploads-btn return-uploads-page"><p><a style="color:white" href="{% url 'study_abroad_placement_page' %}">Return to  uploads</a></p></button><!-- button to return to ythe upload documents page -->

        </div>
        <!-- </div> -->
        <!-- Recent Posts -->

      <!-- </div> -->

    </div>
    <!-- ========== Blog Sidebar Area (End) ========== -->

    <!-- ========== Blog Container (Start) ========== -->

    <div class="blog-container list">

      <!-- ===== Category Area (Start) ===== -->
      <div class="category sidebar-item">

        <!-- ==================== student placement Area (Start) ==================== -->

        <section class="overseas-page" id="flag-page">
          <!-- Section Heading -->
          <div class="heading">
            <h2>Countries Covered</h2>
          </div>


          <div>

            <div class="main-image-container">

          <div class="overseas-heading">
            <h2 id="main-title">Our Portfolio</h2>
          </div>

<div class="country-flags">
</div>


        </section>
      </div>
    </div>
    <!-- ===== Category Area (End) ===== -->

  </section>
  <!-- ==================== Blog List (End) ==================== -->
   <style>
.country-flags {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* Create 5 equal columns */
  gap: 10px;  /* Space between images */
  justify-items: center;  /* Center images within their grid cells */
}

.country-flags img {
  width: 100%;  /* Make images responsive */
  height: 80px;  /* Set a fixed height for uniformity */
  object-fit: cover;  /* Ensures images fill the box and crop if needed */
  border-radius: 5px;  /* Optional: Adds rounded corners to the images */
  box-shadow: 0 0 15px rgba(24, 41, 41, 0.7);  /* Glowing cyan shadow */
}





    /* Default behavior: Hidden on small screens */
#flag-page {
  display: none;
}

/* Show the section on large screens */
@media (min-width: 1024px) {
  #flag-page {
    display: block;
  }
}

   </style>
  <!-- ==================== Blog List (End) ==================== -->


<!-- ==================== MAIN (End) ==================== -->


<!-- ==================== Footer Area (Start) ==================== -->
<!-- ==================== Footer Area (Start) ==================== -->
<footer class="footer">

    <div class="box-container">

        <!-- Information & Social Media Links -->
        <div class="footer-item">

            <!-- Braintree Logo -->
            <a class="logo" href="{% url 'homepage' %}">
                <img alt="Braintree Logo" src="{% static 'website/images/Logo/Logo.png' %}">
            </a>

            <!-- Description -->
            <p>Unleash learner potentials in our one stop shop of educational resources.</p>

            <!-- Contact Information -->
            <div class="info connect">
                <p><i class="fas fa-phone"></i><span>+234-812-1002-555</span></p>
                <p><i class="fas fa-envelope"></i><span class="gmail">contact@braintree.com.ng</span></p>
                <p><i class="fas fa-map-marker-alt"></i><span>Braintree Educational Resources</span></p>
            </div>

        </div>

        <!-- Quick Links -->
        <div class="footer-item">
            <h2>Quick Links</h2>
            <div class="info links">
                <p><i class="fa-solid fa-link"></i><a href="">Join our
                    community</a></p>
                <p><i class="fa-solid fa-link"></i><a
                        href="{% url 'admin_dashboard' %}">School Management Portal</a>
                </p>
                <p><i class="fa-solid fa-link"></i><a href="{% url 'study_abroad_page' %}">Study
                    Abroad</a></p>
                <!-- <p><i class="fa-solid fa-link"></i><a href="../../pages/Resources/Resources-Categories.html">Upcoming events</a></p> -->
                <!-- <p><i class="fa-solid fa-link"></i><a href="../../pages/Blog/Blog-Grid.html">Blog</a></p> -->
                <p><i class="fa-solid fa-link"></i><a href="{% url 'contact_page' %}">Contact Us</a></p>
            </div>
        </div>

        <!-- Newsletter Subscription -->
        <div class="footer-item">
            <h2>Newsletter</h2>
            <p>Stay updated and informed about upcoming exhibitions, events, and special offers by subscribing to our
                newsletter.</p>
            <form class="dark-form" id="newsletter-form-2" method="post">
                <div class="input-field">
                    <label class="fas fa-envelope" for="news-email-2"></label>
                    <input class="box" id="news-email-2" name="email" placeholder="Your email address" required=""
                           type="email">
                </div>
                <button class="btn" id="submit-2" name="submit" type="submit">Subscribe</button>
                <span class="alert" id="msg-2"></span>
            </form>
        </div>

    </div>

    <!-- Museum Name and Copyright -->
    <div class="content">
        <p>Braintree Educational Resources 2024</p>
    </div>

</footer>
<!-- ==================== Footer Area (End) ==================== -->
<!-- ==================== Footer Area (End) ==================== -->


<!-- Jquery -->
<script src="{% static 'website/vendors/jquery/jquery.min.js' %}"></script>

<!-- Swiper (JS) -->
<script src="{% static 'website/vendors/swiper/swiper-bundle.min.js' %}"></script>

<!-- Magnific-Popup JS -->
<script src="{% static 'website/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Isotope (JS) -->
<script src="{% static 'website/vendors/isotope/isotope.pkgd.min.js' %}"></script>

<!-- Custom Script Files -->
<script src="{% static 'website/js/script.js' %}"></script> <!-- Additional website functionality -->
<script src="{% static 'website/js/nav-link-toggler.js' %}"></script> <!-- Mobile navigation link toggling -->
<script src="{% static 'website/js/newsletter.js' %}"></script>
<!-- 1. Script to handle newsletter subscription functionality -->
<script src="{% static 'website/js/home-slider.js' %}"></script> <!-- Dynamic Home Slider -->
<script src="{% static 'website/js/counter-up.js' %}"></script> <!-- Numerical counting animation -->
<script src="{% static 'website/js/service-slider.js' %}"></script> <!-- 2. Service slider control -->
<script src="{% static 'website/js/portfolio.js' %}"></script>
<!-- Projects functionality, including image filtering -->
<script src="{% static 'website/js/testi-slider.js' %}"></script> <!-- 3. Interactive Testimonial Slider -->
<script src="{% static 'website/js/partner-slider.js' %}"></script> <!-- 4. Interactive Partner Slider -->

<script src="{% static 'website/js/uploads.js' %}"></script> <!-- filters for the name search directory. -->
<script src="{% static 'website/js/attachments.js' %}"></script> <!-- filters for the school directory. -->
<script src="{% static 'website/js/placement-fliers.js' %}"></script> <!-- filters for the school directory. -->

</body>
</html>



