{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}
<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>

                <li class="dropdown-item"><a class="btn btn-primary" style="width:100%" href="{% url 'school_finder_create' %}">Add School</a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">List of Schools</h5>
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">School Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if school_list %}
                {% for school in school_list %}
                <tr>
                    <th scope="row"><img class="rounded-circle" style="width:50px" {% if school.logo %} src="{{ school.logo.url }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} /> </th>
                    <td>{{ school|title }} </td>
                    <td>{{ school.state|title }}</td>
                    <td>{{ school.mobile_1 }}</td>
                    <td class="{% if school.status|lower == 'active' %} text-success {% elif school.status|lower == 'pending' %} text-warning {% else %} text-danger {% endif %}">{{ school.status|title }}</td>
                    <td>
                        <a href="{% url 'school_finder_edit' school.id %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'school_finder_detail' school.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if not school_list %}
             <h3 class="text-center">No School Registered Yet</h3>
            {% endif %}
        </div>
    </div>
</div>

{%endblock %}
