{% extends 'website/layout.html' %}
{% load static %}
{% block 'main' %}
<!-- ==================== Page-Title (Start) ==================== -->
<div class="page-title">

    <div class="title">
        <h2>State Academic Calendars</h2>
    </div>

    <div class="link">
        <a href="{% url 'homepage' %}">Home</a>
        <i class="fa-solid fa-angles-right"></i>
        <span class="page">State Academic Calendars</span>
    </div>

</div>
<!-- ==================== Page-Title (End) ==================== -->


<!-- ==================== Exhibition Single (Start) ==================== -->

<section class="exhibit-single page-single">


    <div class="calendar-menu">

        <div class="heading">
            <!-- <div class="sub"><i class="fa-solid fa-building-columns"></i><h2>Explore Our Collections</h2><i class="fa-solid fa-building-columns"></i></div> -->
            <h2>National Examiations In The 2024/25 Academic Session</h2>
        </div>
        <nav class="Examination-list">

            <div class="examinations-list">
                <div class="main-examinations-list"><p class="nav-btn">12 June 2024: National Common Entrance
                    Examination</p></div>
                <div class="sub-examinations-list" style="padding-left: 15px;">
                    <p>Registration: 12 June - 26 septemmber 2024</p>
                    <p>Examination: 15 November 2024</p>
                    <a href="#"> view timetable</a>
                </div>
            </div>


            <div class="examinations-list">
                <div class="main-examinations-list"><p class="nav-btn">11 July - 19 August 2024: Junior WAEC</p></div>
                <div class="sub-examinations-list" style="padding-left: 15px;">
                    <p>Registration: 12 June - 26 septemmber 2024</p>
                    <p>Examination: 15 November 2024</p>
                    <a href="#"> view timetable</a>
                </div>
            </div>


            <div class="examinations-list">
                <div class="main-examinations-list"><p class="nav-btn">12 August - 27 August 2024: NABTEB
                    Examination</p></div>
                <div class="sub-examinations-list" style="padding-left: 15px;">
                    <p>Registration: 12 June - 26 septemmber 2024</p>
                    <p>Examination: 15 November 2024</p>
                    <a href="#"> view timetable</a>
                </div>
            </div>


            <div class="examinations-list">
                <div class="main-examinations-list"><p class="nav-btn">10 - 20 October 2024: JAMB/UTME</p></div>
                <div class="sub-examinations-list" style="padding-left: 15px;">
                    <p>Registration: 12 June - 26 septemmber 2024</p>
                    <p>Examination: 15 November 2024</p>
                    <a href="#"> view timetable</a>
                </div>
            </div>


            <div class="examinations-list">
                <div class="main-examinations-list"><p class="nav-btn">12 November - 11 December 2024: NECO</p></div>
                <div class="sub-examinations-list" style="padding-left: 15px;">
                    <p>Registration: 12 June - 26 septemmber 2024</p>
                    <p>Examination: 15 November 2024</p>
                    <a href="#"> view timetable</a>
                </div>
            </div>


            <div class="examinations-list">
                <div class="main-examinations-list"><p class="nav-btn">16 December 2024: ERCC Gifted Examination</p>
                </div>
                <div class="sub-examinations-list" style="padding-left: 15px;">
                    <p>Registration: 12 June - 26 septemmber 2024</p>
                    <p>Examination: 15 November 2024</p>
                    <a href="#"> view timetable</a>
                </div>
            </div>


        </nav>
    </div>


</section>

<!-- ==================== Exhibition Single (End) ==================== -->


{% endblock %}