{% extends 'website/layout.html' %}
{% load static %}
{% block 'main' %}
<div class="page-title">

    <div class="title">
        <h2>State Academic Calendars</h2>
    </div>

    <div class="link">
        <a href="{% url 'homepage' %}">Home</a>
        <i class="fa-solid fa-angles-right"></i>
        <span class="page">State Academic Calendars</span>
    </div>

</div>
<!-- ==================== Page-Title (End) ==================== -->


<section class="exhibit-single page-single">


    <div class="calendar-menu">

        <div class="heading">
            <!-- <div class="sub"><i class="fa-solid fa-building-columns"></i><h2>Explore Our Collections</h2><i class="fa-solid fa-building-columns"></i></div> -->
            <h2>State Calendars For 2024/25 Academic Session</h2>
        </div>
        <nav class="state-list">

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Abia</p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Adamawa </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Akwa Ibom</p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Anambra </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Bauchi </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Bayelsa </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Benue </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Borno </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Cross River </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Delta </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Ebonyi </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Edo </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Ekiti </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Enugu </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Gombe </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Imo </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Jigawa </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Kaduna </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Kano </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Katsina </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Kebbi </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Kogi </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Kwara </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Lagos </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Nasarawa </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Niger </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Ogun </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Ondo </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Osun </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Oyo </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Plateau </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Rivers </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Sokoto </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Taraba </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Yobe </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>

            <div class="states-list">
                <div class="main-states-list"><p class="nav-btn">Zamfara </p></div>
                <div class="sub-states-list" style="padding-left: 15px;">
                    <p>12 June BECCE</p>
                    <p>15 July Resumption</p>
                    <p>12 June BECCE</p>
                </div>
            </div>


        </nav>
    </div>


</section>

<!-- ==================== Exhibition Single (End) ==================== -->

{% endblock %}